<div class="container">
  <h2>Lista de PDFs</h2>
  <table *ngIf="pdfs().length > 0">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Link</th>
        <th>Adicionado por</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pdf of pdfs()">
        <td data-label="Nome">{{ pdf.nome }}</td>
        <td data-label="Link"><a [href]="pdf.link" target="_blank">Acessar</a></td>
        <td data-label="Adicionado por">{{ pdf.adicionadoPor }}</td>
        <td data-label="Data">{{ pdf.dataCriacao | date:'dd/MM/yyyy HH:mm' }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="pdfs().length === 0">Nenhum PDF adicionado ainda.</p>
</div>